{% extends "base.html" %}

{% block content %}
<h3>Add a Post</h3>
<form method='post'>
    <div class="form-group">
        <label for="post">Title</label>
        <input class="form-control" type="text" name='title' />
        <label for="body">Body</label>
        <textarea class="form-control" name='body'></textarea>
    </div>
    <input type="submit" value='Add Post' class="btn btn-default" />
</form>

<h3>Posts</h3>

{% if posts|length == 0 %}
<p>No posts yet</p>
{% else %}

<ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
        <!--
        <form method="POST" action="/delete-post" style="display:inline-block;margin-right:10px;">
            <input type="hidden" name="post-id" value="{{post.id}}" />
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </form>
        -->
        <b>
            {{post.title}}
        </b>
        <br>
        {{post.body}}
    </li>
    {% endfor %}
</ul>

{% endif %}

{% endblock %}